@model IEnumerable<OperacionTupper3._0.Models.Ingredientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredientes</h1>

<p>
    <a asp-action="Create">Añadir nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Tipo
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre_Ingrediente)
            </td>
            <td>
                    @item.TipoIngredienteNavigation.Nombre_TipoIngrediente
            </td>

            <td>
                    <a asp-action="Edit" asp-route-idingrediente="@item.Id_Ingrediente">Editar</a> |
                    <a asp-action="Details" asp-route-idingrediente="@item.Id_Ingrediente">Detalle</a> |
                    <a asp-action="Delete" asp-route-idingrediente="@item.Id_Ingrediente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
